<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <h2><%= titulo %></h2>
    <form action="/response" method="POST">
        <input type="hidden" name="oculto" val="campo oculto pero no invisible!">
        <div>
            <label for="campofruta">Ingrese la posicion a ver: </label>
                <input type="text" id="index_id" name="index">
       </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>

    <h2><%= nombre %></h2>
</body>
</html>